# 构建输出目录
dist/
build/
.next/
out/

# 依赖目录
node_modules/

# 缓存和生成文件
coverage/
.coverage/
.nyc_output/
*.log

# 其他不需要检查的文件
*.min.js
*.config.js
vitest.config.mts

# 特定目录
bin/
scripts/
deploy/
docSite/

# MinerU
plugins/model/pdf-mineru/models/
plugins/model/pdf-mineru/layoutreader_models/
.venv_bak
.venv_bak/

# venv
venv
venv/
.venv
.venv/
projects/app/*.log

# ssh keyfile
common_services/mongodb-keyfile

# common_services data
common_services/mongodb-data
common_services/postgres-data
common_services/mongo
common_services/mongo-replica
